<launch>

  <!-- <include file="$(find dashgo_driver)/launch/navigation_demo.launch"/>  -->
  <!-- <include file="$(find dashgo_driver)/launch/forklift_hdl_demo.launch"/> -->
  <!-- <include file="$(find test_car_controller)/launch/carlike_driver.launch"/> -->

  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <param name="target_frame_name" type="string" value="map" />
    <param name="source_frame_name" type="string" value="base_link" />
    <param name="trajectory_update_rate" type="double" value="5" />
    <param name="trajectory_publish_rate" type="double" value="5" />
  </node>

  <node pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false" output="screen" args="-d $(find hdl_graph_slam)/rviz/hdl_graph_navigation.rviz"/>

   <arg name="map_file" default="/home/user/LiDARMapFile/20230213_Final.yaml" />
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <arg name="initial_pose_x" default="0.0"/> 
    <arg name="initial_pose_y" default="0.0"/> 
    <arg name="initial_pose_a" default="0.0"/>
 
   
  <!--hdl_localization-->

  <include file="$(find hdl_localization)/launch/hdl_localization.launch"/>
  

</launch>
